<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>个人中心</title>
    <link rel="stylesheet" href="../../css/zui.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>


<div class="zui-app">
    <div class="zui-header zui-row-center myjifen_header">
        <div class="iconfont icon-back zui-header-icon zui-header-left" onclick="jw.back()"></div>
        <div class="zui-header-title" onclick="api.closeToWin({'name':'root'})">收货地址</div>
        <div class="zui-header-icon zui-header-right zui-header_text" @click="manege()">管理</div>
        <div class="iconfont icon-fangzi zui-header-icon zui-header-right"  style="right: 45px;font-size:30px"
            onclick="jw.openWin({'name':'index','url':'../../index3.html'})"></div>
    </div>
    <div class="zui-content">


        <div class="zui-list my_jifenlist">
            <div class="zui-item zui-row" v-for="item in list" v-cloak v-if="item.FIsEnable == 0">
                <div class="zui-col fz16">
                    <p>{{item.FUserName}} <span class="fz14 color-gray6">{{item.FMobile}}</span></p>
                    <div v-if="edit == false">
                        <span class="color-red" v-show="item.FIsDefault == true">【默认】</span>
                        {{item.FProvince + item.FCity + item.FArea + item.FAddress}}
                    </div>
                    <div class="zui-row zui-row-center" v-if="edit == true">
                        <label class="zui-radiobox">
                            <input type="radio" name="place" @change="moren(item)" v-model="item.FIsDefault" value="true">
                            <i class="zui-checked"></i>
                            <span class="zui-radiotxt fz16">设为默认</span>
                        </label>
                        <div class="zui-col"></div>
                        <div class="address_edit" @click="editbtn(item)">
                            <i class="iconfont icon-edit"></i>编辑
                        </div>
                        <div class="adress_del" @click="del(item)">
                            <i class="iconfont icon-lajitong"></i>删除
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="zui-footer zui-row zui-row-stretch">
        <div class="footer_btn zui-col bg-red color-white" @click="add()">添加新地址</div>
    </div>

</div>


<script src="../../js/jquery-2.1.1.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/vuefilter.js"></script>
<script src="../../js/jw.js"></script>
<script src="../../js/zui.js"></script>
<script>
    apiready = function() {
        jw.sb.fixStatusBar(".zui-header");

        jw.data.jtget("addresschange",function (ret) {
            myapp.getlist();
        });

        var myapp = new Vue({
            "el": ".zui-app",
            data: {
                logininfo: "",
                list: [], // 地址列表
                edit: false, // 是否编辑
            },
            created: function () {
                this.logininfo = JSON.parse(jw.data.get("logininfo"));

                this.getlist();
            },
            methods: {
                getlist: function () {
                    var _this = this;
                    _this.list = [];
                    jw.submit("app_收货地址列表",{
                        FUserID: jw.data.get("userid")
                    },function (ret) {
                        if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status == "000000") {
                            if (ret.ds1.length > 0) {
                                _this.list = ret.ds1;
                                for(var i=0;i<ret.ds1.length;i++){
                                    if(ret.ds1[i].FIsDefault == true){
                                        jw.data.set("address",JSON.stringify(ret.ds1[i]));
                                    }
                                }
                            }else{
                                _this.list = [];
                            }
                        } else {
                            _this.list = [];
                            jw.ts.toast(ret.ds[0].msg);
                        }
                    })
                },
                // 管理
                manege: function(){
                    this.edit = !this.edit;
                },
                // 添加新地址
                add: function () {
                    jw.openWin({
                        "name": "add_address",
                        "url": "add_address.html",
                        pageParam: {
                            edit: false,
                        }
                    })
                },
                // 编辑
                editbtn: function (item) {
                    var info = JSON.stringify(item);
                    jw.openWin({
                        "name": "add_address",
                        "url": "add_address.html",
                        pageParam: {
                            edit: true,
                            info: info
                        }
                    })
                },
                // 删除地址
                del: function (item) {
                    var _this = this;
                    jw.ts.confirm({
                        msg: "是否确认删除？"
                    },function (ret) {
                        console.log(ret);
                        if (ret == 1) {
                            jw.submit("app_删除收货地址",{
                                FShippingAddressID: item.FShippingAddressId
                            },function (ret) {
                                if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status == "000000") {
                                    jw.ts.toast(ret.ds[0].msg);
                                    setTimeout(function () {
                                        _this.getlist();
                                    },1000);
                                } else {
                                    jw.ts.toast(ret.ds[0].msg);
                                }
                            })
                        }
                    })
                },
                // 设为默认
                moren: function (item) {
                    var _this = this;
                    jw.ts.confirm({
                        msg: "是否确认？"
                    },function (ret) {
                        console.log(ret);
                        if (ret == 1) {
                            jw.submit("app_默认收货地址",{
                                FShippingAddressID: item.FShippingAddressId,
                                FIsDefault: 1,
                                FUserID: jw.data.get("userid")
                            },function (ret) {
                                if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status == "000000") {
                                    jw.ts.toast(ret.ds[0].msg);
                                    setTimeout(function () {
                                        _this.getlist();
                                    },1000);
                                } else {
                                    jw.ts.toast(ret.ds[0].msg);
                                }
                            })
                        }
                    })
                }
            }
        })
    }
</script>
</body>
</html>
