<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Title</title>
    <link rel="stylesheet" href="../../res/weui/weui.min.css">
    <link rel="stylesheet" href="../../res/weui/jquery-weui.min.css">
    <link rel="stylesheet" href="../../css/zui.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>


<div class="zui-app">
    <div class="zui-header zui-header-dark zui-row-center">
        <div class="iconfont icon-back zui-header-icon zui-header-left" onclick="jw.back()"></div>
        <div class="zui-header-title" onclick="api.closeToWin({'name':'root'})">提货确认</div>
        <div class="iconfont icon-fangzi zui-header-icon zui-header-right"  style="font-size:30px"
        onclick="jw.openWin({'name':'index','url':'../../index3.html'})"></div>
    </div>
    <div class="zui-content ordermain">

        <div class="weui-form-preview">
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">提货方式</label>
                    <div class="weui-form-preview__value">
                        <div class="zui-radiolist">
                            <label class="zui-radiobox" v-show="zt">
                                <input type="radio" name="tihuo" v-model="FPickType" value="0">
                                <i class="zui-checked"></i>
                                <span class="zui-radiotxt">自提</span>
                            </label>
                            <label class="zui-radiobox" v-show="cc">
                                <input type="radio" name="tihuo" v-model="FPickType" value="2">
                                <i class="zui-checked"></i>
                                <span class="zui-radiotxt">转入茶仓</span>
                            </label>
                            <label class="zui-radiobox" v-show="kd">
                                <input type="radio" name="tihuo" v-model="FPickType" value="1">
                                <i class="zui-checked"></i>
                                <span class="zui-radiotxt">快递</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="weui-form-preview__item zui-row zui-row-center">
                    <label class="weui-form-preview__label">提货时间</label>
                    <div class="weui-form-preview__value zui-col zui-row zui-row-center">
                        <input type="text" class="zui-col text-right" id='tihuodata' placeholder="请选择提货时间"/>
                    </div>
                </div>
            </div>
        </div>

        <div id="zitibox" class="weui-form-preview"  v-cloak v-show="FPickType == 0">
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">提货地址</label>
                    <span class="weui-form-preview__value">{{FPickAddres}}</span>
                </div>
                <!-- <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">联系人</label>
                    <span class="weui-form-preview__value">谢小姐</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">联系方式</label>
                    <span class="weui-form-preview__value">15566112350</span>
                </div> -->
            </div>
        </div>

        <!-- 转入茶仓 -->
        <div id="zhuanrubox" class="ccxieyi" v-cloak v-show="FPickType == 2">
            <div class="ccxieyi_nav zui-row zui-row-center" @click="cangchushow = !cangchushow">
                <label class="zui-radiobox">
                    <input class="zui-radio" type="checkbox" name="chuchun" id="chuchun">
                    <i class="zui-checked"></i>
                    <span class="zui-radiotxt"></span>
                </label>
                <span>茶仓储存协议</span>
                <i class="iconfont icon-down" v-show="!cangchushow"></i>
                <i class="iconfont icon-up" v-show="cangchushow"></i>
            </div>
            <div class="ccxieyi_main" v-html="cangchuhtml" v-show="cangchushow"></div>
        </div>


        <!-- 快递 -->
        <div id="daofubox" class="weui-form-preview wuliu-border-top wuliu-border-bottom" v-cloak v-show="FPickType == 1" @click="choseplace()">
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">收件人</label>
                    <div class="weui-form-preview__value" v-show="FShippingAddressId!=''">
                        <span>{{FUserName}}</span><span class="fr">{{FMobile}}</span></div>
                    <div class="weui-form-preview__value" v-show="FShippingAddressId==''">请选择收货地址</div>
                </div>
                <div class="weui-form-preview__item" style="border-top: none">
                    <label class="weui-form-preview__label">收件地址</label>
                    <span class="weui-form-preview__value">{{FShippingAddress}}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="zui-footer zui-row zui-row-center zui-row-stretch firm_footer">
        <div class="footer_btn zui-col bg-red color-white" id="okbtn" @click="post()">确定</div>
    </div>


</div>


<script src="../../js/jquery-2.1.1.min.js"></script>
<script src="../../res/weui/jquery-weui.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/vuefilter.js"></script>
<script src="../../js/jw.js"></script>
<script src="../../js/zui.js"></script>
<script>
    apiready = function() {
        jw.sb.fixStatusBar(".zui-header");

        // 获取选择地址
        jw.data.jtget("chose_address", function (ret) {
            if (typeof (ret) == "string") {
                ret = JSON.parse(ret);
            }
            myapp.FShippingAddressId = ret.FShippingAddressId;
            myapp.FUserName = ret.FUserName;
            myapp.FMobile = ret.FMobile;
            myapp.FShippingAddress = ret.FShippingAddress;
        });

        var myapp = new Vue({
            "el": ".zui-app",
            data: {
                nowtime: "",// 现在时间
                FPickType2: api.pageParam.FPickType,
                FPickType: "", //提货类型 0：自提，1：快递,2:到茶仓
                FShippingAddressId: "", // 收获地址ID
                FUserName: "",//收货人姓名
                FMobile: "",//收货人电话
                FShippingAddress: "",//收货地址
                cangchuhtml: "", // 仓储协议
                cangchushow: false, // 仓储协议显示隐藏

                FPickAddres: api.pageParam.FPickAddress,//自提地址
                zt: false,
                cc: false,
                kd: false

            },
            created: function () {
                var _this = this;

                this.getcangchu();
                this.gettihuo1();

                // alert(_this.FPickType2);

                // _this.FPickType2 = '快递';

                if(_this.FPickType2 != ""){
                    if (_this.FPickType2.indexOf("茶仓") != -1){
                        _this.cc = true;
                    }
                    if (_this.FPickType2.indexOf("快递") != -1) {
                        _this.kd = true;
                    }
                    if (_this.FPickType2.indexOf("自提") != -1) {
                        _this.zt = true;
                    }
                }

                setTimeout(function () {
                    $("#tihuodata").datetimePicker();
                },100);
                setInterval(function () {
                    _this.nowtime = zDate.getNowdata("datatime");

                },1000);
            },
            methods: {
                // 获取app 仓储协议
                getcangchu: function () {
                    var _this = this;
                    jw.submit("app_协议及说明", {agreementId: 1}, function (ret) {
                        if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status == "000000") {
                            _this.cangchuhtml = ret.ds1[0].FContent;
                        } else {
                        }
                    });
                },
                // // 获取 app_获取默认地址
                gettihuo1: function () {
                    var _this = this;
                    jw.submit("app_获取默认地址", {
                        FUserId: jw.data.get("userid")
                    }, function (ret) {
                        if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status == "000000") {
                            _this.FShippingAddressId = ret.ds1[0].FShippingAddressId;
                            _this.FUserName = ret.ds1[0].FUserName;
                            _this.FMobile = ret.ds1[0].FMobile;
                            _this.FShippingAddress = ret.ds1[0].FShippingAddress;
                        } else {
                            //jw.ts.toast("内容不能为空");
                        }
                    });
                },
                // // 选择地址
                choseplace: function () {
                    jw.openWin({
                        name: "chose_address",
                        url: "../shangcheng/chose_address.html"
                    });
                },
                post: function () {
                    var option = {
                        FUserId: jw.data.get('userid')/*(Int)*/,
                        FId: api.pageParam.fid/*仓库id(Int)*/,
                        FPickType:  this.FPickType/*提货类型(VarChar)*/,
                        FPickAddress:  this.FPickAddres/*提货地址或寄货地址(VarChar)*/
                    }

                    jw.submit("api42336", option,function(ret){
                        if (ret.ds[0].status == "000000"){
                            jw.ts.toast(ret.ds[0].msg);
                            setTimeout(function () {
                                api.closeWin();
                            },2000);
                        } else {
                            jw.ts.toast(ret.ds[0].msg);
                        }
                    });
                }
            }
        });
    }
</script>
</body>
</html>