<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Title</title>
    <link rel="stylesheet" href="../../res/weui/weui.min.css">
    <link rel="stylesheet" href="../../res/weui/jquery-weui.min.css">
    <link rel="stylesheet" href="../../css/zui.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../res/mobiscroll/mobiscroll.custom-2.5.0.min.css">
</head>

<body>


    <div class="zui-app">
        <div class="zui-header zui-header-dark zui-row-center">
            <div class="iconfont icon-back zui-header-icon zui-header-left" onclick="jw.back()"></div>
            <div class="zui-header-title" onclick="api.closeToWin({'name':'root'})">确认订单</div>
             <div class="iconfont icon-fangzi zui-header-icon zui-header-right"  style="font-size:30px"
            onclick="jw.openWin({'name':'index','url':'../../index3.html'})"></div>
        </div>
        <div class="zui-content ordermain">

            <div class="weui-form-preview">
                <div v-for="(item,index) in FBusiness">
                    <div class="order_imgbox zui-row zui-row-center zui-row-stretch">
                        <div class="touxiang" :style="getbgimg(item.FImageUrl)"></div>
                        <div class="zui-col zui-row zui-row-column">
                            <div class="title">{{item.FName}}</div>
                            <div class="zui-col"></div>
                            <div class="text"><span class="color-red fz20">￥{{item.FPrice}}</span> <span
                                    class="fr">×{{item.FNumber}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form-preview__bd" v-show="FPickType == 0">
                        <div class="weui-form-preview__item zui-row zui-row-center">
                            <label class="weui-form-preview__label">提货时间</label>
                            <div class="weui-form-preview__value zui-col zui-row zui-row-center">
                                <input type="text" class="zui-col text-right tihuodata" name="tihuodata"
                                    placeholder="请选择提货时间" :data-index="index" :data-item="item" />
                            </div>
                            <div class="weui-form-preview__ft"><i class="iconfont icon-right"></i></div>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">提货地址</label>
                            <span class="weui-form-preview__value">{{item.FPickGoodsAddress}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">联系人</label>
                            <span class="weui-form-preview__value">{{item.FPickGoodsName}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">联系方式</label>
                            <span class="weui-form-preview__value">{{item.FPickGoodsPhone}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="weui-form-preview">
                <div class="weui-form-preview__bd">
                    <label class="weui-form-preview__item" style="display: block;">
                        <span class="weui-form-preview__label">积分抵扣</span>
                        <div class="weui-form-preview__value">
                            <div class="zui-radiobox fr" style="width: auto;">
                                <input type="checkbox" v-model="kdchose" @change="dkchange()">
                                <i class="zui-checked"></i>
                                ￥{{kdprice}}
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            <!-- <div id="zhuanrubox" class="ccxieyi" v-cloak v-show="FPickType == 2">
          转到茶仓
        </div> -->

            <!-- <div id="daofubox" class="weui-form-preview wuliu-border-top wuliu-border-bottom" v-cloak
             v-show="FPickType == 1">
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">收件人</label>
                    <div class="weui-form-preview__value" v-show="FShippingAddressId!=''"><span>{{FUserName}}</span>
                        <span class="fr">{{FMobile}}</span></div>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">收件地址</label>
                    <span class="weui-form-preview__value">{{FShippingAddress}}</span>
                </div>
            </div>
        </div> -->


        </div>
        <div class="zui-footer zui-row zui-row-center zui-row-stretch firm_footer">
            <div class="zui-col-60 text">￥{{totalPrice}}</div>
            <div class="footer_btn zui-col bg-red color-white" @click="orderpost()" id="qrbtn">确定</div>
        </div>

        <!-- 输入密码弹出框 -->
        <!--<div class="zui-alert shop_alert" style="display: none;">-->
        <div class="zui-alert shop_alert" v-cloak v-show="payshow">
            <div class="zui-alert_box">
                <div class="shop_close iconfont icon-del color-red" @click="hidekey()"></div>
                <div class="tip">
                    <img src="../../image/money01.png" alt="">
                </div>
                <div class="title">请输入支付密码</div>
                <div class="cont" style="padding: 15px;">
                    <b style="font-size: 45px;">￥{{totalPrice}}</b>
                    <div class="clearfix fz14">
                        <span
                            onclick="jw.openWin({name:'setting_paypassword',url:'../myself/setting_paypassword.html'})"
                            class="fl">设置密码</span>
                        <span
                            onclick="jw.openWin({name:'setting_newpaypassword',url:'../myself/setting_newpaypassword.html'})"
                            class="fr color-red">忘记密码？</span>
                    </div>
                    <div id="mimabox"></div>
                </div>
            </div>
            <div class="zui-alert_bg"></div>
        </div>

        <jiaoyima v-show="jiaoyishow" v-on:rdata="jiaoyiback" v-cloak v-on:hide="jiaoyishow=false"></jiaoyima>

    </div>


    <script src="../../js/jquery-2.1.1.min.js"></script>
    <script src="../../res/weui/jquery-weui.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/vuefilter.js"></script>
    <script src="../../js/jw.js"></script>
    <script src="../../js/zui.js"></script>
    <script src="../../res/mobiscroll/mobiscroll.custom-2.5.0.min.js"></script>
    <script src="../../js/md5.js"></script>
    <script src="../../js/layer/layer.js"></script>
    <script>
        apiready = function () {
            jw.sb.fixStatusBar(".zui-header");

            function init() {
                setTimeout(function () {

                    $("#mimabox").mimakeywords({
                        onend: function (v, p) {
                            myapp.payshow = false;
                            p.close();
                            myapp.orderpay(v);
                        }
                    });

                    $(".tihuodata").mobiscroll().date();
                    var currYear = (new Date()).getFullYear() - 50;
                    //初始化日期控件
                    var opt = {
                        preset: 'datetime', //日期，可选：date\datetime\time\tree_list\image_text\select
                        theme: 'Android Holo Light', //皮肤样式，可选：default\android\android-ics light\android-ics\ios\jqm\sense-ui\wp light\wp
                        display: 'modal', //显示方式 ，可选：modal\inline\bubble\top\bottom
                        mode: 'mixed', //日期选择模式，可选：scroller\clickpick\mixed
                        lang: 'zh',
                        dateFormat: 'yyyy-mm-dd', // 日期格式,
                        timeFormat: 'HH:ii:ss', //24小时时间
                        timeWheels: 'HHii', //24小时时间
                        setText: '确定', //确认按钮名称
                        cancelText: '取消', //取消按钮名籍我
                        dateOrder: 'yyyymmdd', //面板中日期排列格式
                        dayText: '日',
                        monthText: '月',
                        yearText: '年', //面板中年月日文字
                        showNow: false,
                        nowText: "今",
                        startYear: currYear, //开始年份
                        endYear: currYear + 85, //结束年份
                        //endYear:2099 //结束年份
                        onClose: function (event, inst) {
                            var index = $(this).data("index");
                            var item = $(this).data("item");
                            myapp.FBusiness[index].FPickGoodsDate = event;
                        }
                    };

                    $(".tihuodata").mobiscroll(opt);

                }, 1000);
            }

            // 获取选择地址
            jw.data.jtget("chose_address", function (ret) {
                if (typeof (ret) == "string") {
                    ret = JSON.parse(ret);
                }
                myapp.FShippingAddressId = ret.FShippingAddressId;
                myapp.FUserName = ret.FUserName;
                myapp.FMobile = ret.FMobile;
                myapp.FShippingAddress = ret.FShippingAddress;
            });

            var myapp = new Vue({
                "el": ".zui-app",
                data: {
                    FShoppingCarIds: api.pageParam.FShoppingCarIds, //购物车id
                    FBusiness: [], // 购物车产品
                    FPickType: api.pageParam.FPickType, //提货类型 0：自提，1：快递,2:到茶仓
                    FShippingAddressId: api.pageParam.FShippingAddressId, // 收获地址ID
                    FUserName: api.pageParam.FUserName, //收货人姓名
                    FMobile: api.pageParam.FMobile, //收货人电话
                    FShippingAddress: api.pageParam.FShippingAddress, //收货地址
                    kdprice: 0, // 积分抵扣金额
                    kdchose: false, // 是否用积分抵扣
                    Fprice: "", // 商品价格
                    payshow: false, // 支付密码显示
                    kuaididata: "", // 快递信息
                    cangchushow: false, // 仓储协议显示隐藏
                    FShoppingCarId: 0, //抵扣积分金额的购物车id
                    FBusinessOrderIds: '', //订单ids
                    istijiao: false, //是否已点击提交
                    pindex: 1,
                    choseitem: "",
                    FBusinessOrderId: 0, //最后一个订单id
                    totalPrice: 0, //所有商品总额
                    jiaoyishow: false,
                },
                created: function () {
                    var _this = this;
                    init();
                    _this.getBusiness();
                    //_this.getprice();
                },
                methods: {
                    hidekey: function () {
                        var _this = this;
                        jw.ts.confirm({
                            msg: "您确定要取消支付吗？"
                        }, function (index) {
                            if (index == 1) {
                                this.payshow = false;
                                $("#numberkeyobj").hide();
                                jw.openWin({
                                    'name': 'my_order',
                                    'url': '../myself/my_order3.html',
                                    pageParam: {
                                        ly: api.pageParam.ly
                                    }
                                });
                            } else {

                            }
                        });
                    },
                    timefun: function (index, item) {
                        console.log("timefun")
                        console.log(JSON.stringify(item));
                        this.pindex = index;
                        this.choseitem = item;
                    },
                    jiaoyiback: function (d) {
                        var _this = this;
                        // jw.submit("yzwxmsg", {
                        //     userPhone: jw.data.get("phone"),// 手机号
                        //     yzm: d
                        // }, function (ret) {
                        //     if (ret == "1") {
                        jw.ts.actionSheet({
                            title: '请选择',
                            buttons: ["微信支付", '支付宝支付','一网通支付', '钱包支付']
                        }, function (index) {
                            if (index == 5) {
                                jw.ts.confirm({
                                    msg: "您确定要取消支付吗？"
                                }, function (index) {
                                    if (index == 1) {
                                        this.payshow = false;
                                        $("#numberkeyobj").hide();
                                        setTimeout(function () {
                                            jw.openWin({
                                                'name': 'my_order',
                                                'url': '../myself/my_order3.html',
                                                pageParam: {
                                                    ly: api.pageParam
                                                        .ly,
                                                    //FBusinessOrderId: _this.FBusinessOrderId
                                                }
                                            });
                                        }, 500);
                                    } else {
                                        _this.jiaoyiback();
                                    }
                                });
                            }
                            if (index == 4) {
                                myapp.payshow = true;
                                $("#numberkeyobj").show();
                            } else if (index == 1) {
                                jw.submit_ykt("WXSCorderpay", {
                                    "body": "订单支付",
                                    "notifyUrl": "http://www.yunpuer.com/SelfModel/SCorderpaysuccess.aspx",
                                    "orderid": _this.FBusinessOrderIds
                                }, function (ret) {
                                    if (ret.result_code == "SUCCESS") {
                                        var now = Date.parse(new Date()) / 1000;
                                        var stringA =
                                            "appid=wx7f1cca191b9b3caf&noncestr=" + ret
                                            .nonce_str +
                                            "&package=Sign=WXPay&partnerid=1512144871&prepayid=" +
                                            ret.prepay_id + "&timestamp=" + now;
                                        var stringSignTemp = stringA +
                                            "&key=qweasdzxc123456789qazwsxedcrfvtg";
                                        //console.log(stringSignTemp);
                                        var sign = hex_md5(stringSignTemp)
                                            .toUpperCase();
                                        var wxPay = api.require('wxPayPlus');
                                        wxPay.payOrder({
                                            apiKey: "wx7f1cca191b9b3caf", //ret.appid,
                                            orderId: ret.prepay_id,
                                            mchId: "1512144871", //ret.mch_id,
                                            nonceStr: ret.nonce_str,
                                            timeStamp: now,
                                            package: 'Sign=WXPay',
                                            sign: sign
                                        }, function (ret, err) {
                                            if (ret.status) {
                                                jw.ts.toast("支付成功");
                                                setTimeout(function () {
                                                    jw.openWin({
                                                        'name': 'my_order',
                                                        'url': '../myself/my_order3.html',
                                                        pageParam: {
                                                            ly: api
                                                                .pageParam
                                                                .ly,
                                                            //FBusinessOrderId: _this.FBusinessOrderId
                                                        }
                                                    });
                                                }, 500);
                                            } else {
                                                jw.ts.toast("失败");
                                            }
                                        });
                                    } else {
                                        jw.ts.toast("失败");
                                    }
                                }, {
                                    jz: true,
                                    Url: jw.config.url3,
                                    Ip: jw.config.ip3
                                });
                            } else if (index == 2) {
                                jw.submit_ykt("AliSCorderpay", {
                                    "Body": "订单支付",
                                    "Subject": "订单支付",
                                    "NotifyUrl": "http://www.yunpuer.com/SelfModel/hander.aspx?cmd=AliSCorderpayNotify",
                                    "orderid": _this.FBusinessOrderIds
                                }, function (ret) {
                                    if (ret != "") {
                                        var aliPayPlus = api.require('aliPayPlus');
                                        aliPayPlus.payOrder({
                                            orderInfo: ret
                                        }, function (ret, err) {
                                            if (ret.code == "9000") {
                                                jw.ts.toast("支付成功");
                                                setTimeout(function () {
                                                    jw.openWin({
                                                        'name': 'my_order',
                                                        'url': '../myself/my_order3.html',
                                                        pageParam: {
                                                            ly: api
                                                                .pageParam
                                                                .ly,
                                                            //FBusinessOrderId: _this.FBusinessOrderId
                                                        }
                                                    });
                                                }, 500);
                                            } else {
                                                jw.ts.toast("失败");
                                            }
                                        });
                                    }
                                }, {
                                    jz: true,
                                    Url: jw.config.url3,
                                    Ip: jw.config.ip3
                                });
                            }else if(index == 3){
                                //一网通

                                jw.submit('app_订单存在判断',{
                                    orderid: _this.FBusinessOrderIds
                                },function(ret){
                                    if('000000'==ret.ds[0].status){
                                        layer.open({
                                            type:2,
                                            title:'一网通支付',
                                            shadeClose:true,
                                            shade:0.3,
                                            area:['100%','90%'],
                                            end:function(){
                                                setTimeout(function () {
                                                    jw.openWin({
                                                        'name': 'my_order',
                                                        'url': '../myself/my_order3.html',
                                                        pageParam: {
                                                            ly: api
                                                                .pageParam
                                                                .ly,
                                                            //FBusinessOrderId: _this.FBusinessOrderId
                                                        }
                                                    });
                                                }, 500);
                                            },
                                            content: "http://www.yunpuer.com/SelfModel/Payment.aspx?mark=300&payType=4&transactionName=transaction_id&amount="+ret.ds[0].msg+"&orderNo="+_this.FBusinessOrderIds+"&orderIds="+_this.FBusinessOrderIds
                                        });
                                    }
                                });
                            }
                        })
                        //     } else {
                        //         jw.ts.toast("验证码错误");
                        //         _this.jiaoyishow = true;
                        //     }
                        // }, {
                        //     jz: false,
                        //     Url: jw.config.url3
                        // });

                    },
                    //发送验证码
                    fasong: function () {
                        var _this = this;
                        jw.submit_ykt("sendwxmsg", { //发送验证码
                            userPhone: jw.data.get("phone"), // 手机号
                        }, function (ret) {
                            jw.ts.toast("验证码已发送，请注意查收");

                            _this.jiaoyishow = true;

                        }, {
                            jz: false,
                            Url: jw.config.url3,
                            Ip: jw.config.ip3
                        });
                    },
                    getBusiness: function () {
                        var _this = this;
                        jw.submit("app_购物车下单商品New", {
                            FShoppingCarIds: _this.FShoppingCarIds, //购物车id
                        }, function (ret) {
                            if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status ==
                                "000000") {
                                _this.FBusiness = ret.ds1;
                                _this.getprice();
                                _this.totalPrice = ret.ds2[0].total;
                            } else {}
                        });
                    },
                    /* 获取积分抵扣金额 */
                    getprice: function () {
                        var _this = this;
                        var price = 0;
                        for (var i = 0; i < _this.FBusiness.length; i++) {
                            if (_this.FBusiness[i].FType == 0) {
                                price = _this.FBusiness[i].FPrice;
                                _this.FShoppingCarId = _this.FBusiness[i].FShoppingCarId;
                            }
                        }
                        if (_this.FShoppingCarId > 0) {
                            jw.submit("app_积分抵扣金额", {
                                FUserId: jw.data.get("userid"),
                                FPrice: price, //单价
                                FNum: _this.number //数量
                            }, function (ret) {
                                if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status ==
                                    "000000") {
                                    _this.kdprice = ret.ds1[0].FPreferentialPrice;
                                } else {
                                    _this.kdprice = 0;
                                }
                            });
                        }

                    },
                    // 返回价格
                    // returnprice: function () {
                    //     var _this = this;
                    //     var price = "0";
                    //
                    //     if (_this.FBusiness.length > 0) {
                    //         var s = 0;
                    //         for (var i = 0; i < _this.FBusiness.length; i++) {
                    //             s = s + parseFloat(_this.FBusiness[i].FPrice) * parseFloat(_this.FBusiness[i].FNumber);
                    //         }
                    //         price = s;
                    //     } else {
                    //         price = "0"
                    //     }
                    //     var FPreferentialPrice = 0;
                    //     if (_this.kdchose == true) {
                    //         FPreferentialPrice = _this.kdprice || 0
                    //     }
                    //     _this.Fprice = (parseFloat(price) - FPreferentialPrice).toFixed(2);
                    //     return _this.Fprice
                    // },

                    // 积分抵扣 选择
                    dkchange: function () {
                        if (this.kdprice == "" || this.kdprice == 0) {
                            // this.kdchose = false;
                            //jw.ts.toast("没有足够积分！");
                        }
                    },
                    // 提交订单
                    orderpost: function () {
                        var _this = this;

                        var FShoppingCar = "";
                        if (_this.FPickType == 0) {
                            for (var i = 0; i < _this.FBusiness.length; i++) {
                                if (_this.FBusiness[i].FPickGoodsDate == undefined || _this.FBusiness[i]
                                    .FPickGoodsDate == "") {
                                    jw.ts.toast("请输入提货时间");
                                    return false;
                                }
                                if (i == _this.FBusiness.length - 1) {
                                    FShoppingCar = FShoppingCar + _this.FBusiness[i].FShoppingCarId +
                                        ',' + _this.FBusiness[i].FPickGoodsDate;
                                } else {
                                    FShoppingCar = FShoppingCar + _this.FBusiness[i].FShoppingCarId +
                                        ',' + _this.FBusiness[i].FPickGoodsDate + ';';
                                }
                            }
                        } else {
                            FShoppingCar = _this.FShoppingCarIds;
                        }
                        //console.log(FShoppingCar);
                        _this.istijiao = true;
                        if (_this.FPickType == 0 || _this.FPickType == '0') {
                            jw.submit("app_购物车提交订单2New", {
                                FUserId: jw.data.get("userid"), //用户id
                                FShoppingCar: FShoppingCar, //
                                kdprice: _this.kdprice, //积分抵扣金额
                                FShoppingCarId: _this.FShoppingCarId, //积分抵扣对应购物车id
                            }, function (ret) {
                                if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status ==
                                    "000000") {
                                    jw.ts.toast(ret.ds[0].msg);
                                    _this.FBusinessOrderIds = ret.ds1[0].orderIds;
                                    if (_this.FBusinessOrderIds != "") {
                                        //发送验证码
                                        //_this.fasong();
                                        _this.jiaoyiback();
                                    }
                                } else {
                                    jw.ts.toast(ret.ds[0].msg);
                                }
                            });
                        } else {
                            jw.submit("app_购物车提交订单New", {
                                FUserId: jw.data.get("userid"), //用户id
                                FShoppingCar: FShoppingCar, //
                                //FOrderType:  FOrderType,  //提货类型 订单来源 0商城订单 1限时抢购 2茶市
                                kdprice: _this.kdprice, //积分抵扣金额
                                FShoppingCarId: _this.FShoppingCarId, //积分抵扣对应购物车id
                                FPickType: _this.FPickType, //提货类型 0：自提，1：快递,2:到茶仓
                                FShippingAddressId: _this.FShippingAddressId, //收货地址id
                            }, function (ret) {
                                if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status ==
                                    "000000") {
                                    jw.ts.toast(ret.ds[0].msg);
                                    _this.FBusinessOrderIds = ret.ds1[0].orderIds;
                                    if (_this.FBusinessOrderIds != "") {
                                        //发送验证码
                                        //_this.fasong();
                                        _this.jiaoyiback();
                                    }
                                } else {
                                    jw.ts.toast(ret.ds[0].msg);
                                }
                            });
                        }

                    },
                    // 订单支付
                    orderpay: function (password) {
                        var _this = this;
                        jw.submit("app_购物车余额支付New", {
                            orderIds: _this.FBusinessOrderIds, //订单ids
                            FUserId: jw.data.get("userid"), //用户ID
                            PayPassword: password, // 支付密码
                            totalPrice: _this.Fprice, // 支付价格
                        }, function (ret) {
                            if (ret.ds != undefined && ret.ds != "" && ret.ds[0].status ==
                                "111111") {
                                _this.payshow = true;
                                $("#numberkeyobj").show();
                                jw.ts.toast(ret.ds[0].msg);
                            } else if (ret.ds != undefined && ret.ds != "" && ret.ds[0]
                                .status == "999999") {
                                //余额不足
                                _this.payshow = false;
                                $("#numberkeyobj").hide();
                                jw.ts.toast(ret.ds[0].msg);
                                _this.jiaoyiback();
                            } else {
                                jw.ts.toast(ret.ds[0].msg);
                                setTimeout(function () {
                                    jw.openWin({
                                        'name': 'my_order3',
                                        'url': '../myself/my_order3.html',
                                        pageParam: {
                                            from: "my_Shopping_Cart",
                                            ly: api.pageParam.ly
                                        }
                                    });
                                }, 500);
                            }
                        });
                    }
                }
            });
        }
    </script>
</body>

</html>
